
header {
    background-color: black;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0.25em;
    text-align: center;

}


.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 15%);
    border: 3px solid #999999;
    border-radius: 8px;
    z-index: 9;
    padding: 10px;
    background-color: coral;
}

.LoanBalance {
    display: none;
    height: 20px;
}


.button {
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid gray;
}

.button.loanButton {
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: green;
}

.button.workButton {
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: dodgerblue;
}

.button.bankButton {
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: yellow;
}

.button.repayLoanButton {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    display: none;
}

.button.buyButton{
    background-color: aqua;
}

.featuresList {
    text-align: left;
}

.boxWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35%;
    gap: 100px;
    padding: 25px 100px 75px 100px;
    overflow: scroll;
}


.boxWrapper div:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 2;
}

.box {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: lightgray;
    border-radius: 25px;
    border: 2px solid gray;
    float: left;
    margin: auto;
    min-width: 350px;
}

.buyBox {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: lightgray;
    border-radius: 25px;
    border: 2px solid gray;
    float: left;
    margin: auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buyBox div:nth-child(2) {
    grid-column: 2 / 4;
}

.image {
    position: relative;
}

.container {
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 75%;
    max-height: 75%;
}

lu {
    white-space: normal;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body {
    margin: 0;
    background-color: lightblue;
}